.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex-container {
  display: flex;
}

.box.collapsed {
  flex-grow: 0.000000002;
  transition: 0.3s cubic-bezier(0.86, 0, 0.07, 1);
}

.box {
  background-size: cover;
  cursor: pointer;
  text-align: center;
  height: 500px;
  flex-grow: 1;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: 0.3s cubic-bezier(0.86, 0, 0.07, 1);
}

.box:hover {
  filter: brightness(110%);
  transition: 0.3s cubic-bezier(0.86, 0, 0.07, 1);
}

.box h2 {
  font-size: 3em;
  position: relative;
  top: 50%;
  transform: translate(-50%);
  margin: 0 auto;
  display: table;
}
